In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv('Data.csv')

In [3]:
df1=df.copy()

In [4]:
df1.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
X=df1.iloc[:,:-1].values

In [6]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [7]:
Y=df1.iloc[:,-1].values

In [8]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

### Missing data

In [10]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_value=np.nan,strategy='mean')
imputer.fit(X[:,:3])
X[:,:3]=imputer.transform(X[:,:3])

ModuleNotFoundError: No module named 'sklearn.impute'

### encoding

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(['encoder',OneHotEncoder(),[0]],remainder='passthrough')
X=np.array(ct.fit_transform(X))

ModuleNotFoundError: No module named 'sklearn.compose'

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y=Y.fit_transform(le)

### Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
x_train,y_train,x_test,y_test=train_test_split(x,y,test-size=0.2,random_state=1)

### Feature scaling

In [ ]:
from sklearn.preprocessing import StandardScalar
sc=StandardScalar()
X_train[:,3:]=sc.fit_transform(X_train[:,3:])
X_test[:,3:]=sc.fit_transform(X_test[:,3:])